@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");
@import "index";
$Moderate-cyan: hsl(176, 50%, 47%);
$Dark-cyan: hsl(176, 72%, 28%);
// ### Neutral
$Black: hsl(0, 0%, 0%);
$Dark-gray: hsl(0, 0%, 48%);

body {
  min-height: 100svh;
  font-family: "Commissioner", sans-serif;
  .header {
    position: fixed;
    width: 100%;
    padding: 2rem 1.5rem;
    z-index: 100;
    transition: 0.2s ease;
    @media (min-width: 64rem) {
      padding: 3rem 10rem 0;
    }
    &.scrolled {
      box-shadow: 0 7px 20px rgba($color: #000000, $alpha: 0.3);
      padding: 1.75rem 1.5rem;
      background: $Black;
      @media (min-width: 64rem) {
        padding: 2rem 5rem;
      }
    }
    .header__container {
      @include flex__JSB;
      nav {
        .header__menu-button {
          all: unset;
          background: url(./images/icon-hamburger.svg) no-repeat;
          width: 1.125rem;
          height: 1.125rem;
          transition: 0.2s ease;
          @media (min-width: 64rem) {
            display: none;
          }
          &.close {
            background: url(./images/icon-close-menu.svg) no-repeat;
          }
        }
        .header__list {
          position: fixed;
          background: white;
          width: 20.5rem;
          height: 13.5rem;
          right: 1.5rem;
          margin-top: 2rem;
          border-radius: 0.5rem;
          display: grid;
          transition: 0.4s ease;
          box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.2);
          transform: translateY(-150%);
          @media (min-width: 64rem) {
            all: unset;
            display: flex;
            align-items: center;
            gap: 2rem;
          }
          &.show {
            transform: translateY(0);
          }
          .header__item {
            padding: 1rem;
            border-bottom: 1px solid #ddd;
            display: grid;
            align-items: center;
            @media (min-width: 64rem) {
              all: unset;
            }
            &:last-of-type {
              border-bottom: none;
            }
            a {
              color: $Black;
              font-weight: 700;
              @media (min-width: 64rem) {
                color: white;
                font-weight: unset;
              }
            }
          }
        }
      }
    }
  }
  .bg__overlay {
    position: fixed;
    background: rgba($color: #000000, $alpha: 0.5);
    inset: 0;
    z-index: 98;
  }
  .modal {
    z-index: 99;
    position: absolute;
    top: 0;
    background: white;
    margin-inline: 1.5rem;
    margin-block: 7.5rem;
    border: none;
    border-radius: 0.5rem;
    padding: 2rem 1.5rem;
    box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.1);
    display: grid;
    gap: 2rem;
    @media (min-width: 64rem) {
      margin-inline: 22rem;
    }
    .top {
      @include flex__JSB;
      align-items: center;
      h2 {
        font-size: 1.2rem;
      }
      .modal__close {
        all: unset;
        background: url(./images/icon-close-modal.svg) no-repeat;
        background-position: center;
        width: 1.5rem;
        height: 1.5rem;
        @media (min-width: 64rem) {
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    .text {
      color: $Dark-gray;
      font-size: 0.88rem;
    }
    .modal-cards__container {
      margin-top: -0.5rem;
      display: grid;
      gap: 1.5rem;
      .card {
        border: 1px solid #ddd;
        border-radius: 0.5rem;
        padding: 1.5rem;
        padding-top: 2rem;
        display: grid;
        gap: 2rem;
        color: $Dark-gray;
        font-size: 0.87rem;
        @media (min-width: 64rem) {
          font-size: 0.9rem;
          gap: 1rem;
          position: relative;
        }
        form {
          display: none;
        }
        &.selected {
          border: 2px solid $Moderate-cyan;
          position: relative;
          &:first-of-type::before {
            display: none;
          }
          form {
            display: grid;
            gap: 1rem;
            padding-top: 1rem;
            @media (min-width: 64rem) {
              @include flex__JSB;
              align-items: center;
              padding-top: 2.5rem;
            }
            label {
              all: unset;
              text-align: center;
            }
            div {
              display: flex;
              gap: 1rem;
              position: relative;
              span {
                position: absolute;
                top: 32%;
                left: 1.5rem;
                font-weight: 700;
              }
              input {
                width: 6.25rem;
                padding: 1rem;
                border-radius: 100vw;
                outline: none;
                font-weight: 700;
                font-size: 1.05rem;
                text-align: center;
                border: 1px solid #ddd;
                &:focus {
                  border: 1px solid $Moderate-cyan;
                }
                &:hover {
                  cursor: pointer;
                }
              }
              button {
                width: 7rem;
                border-radius: 100vw;
                outline: none;
                border: none;
                background: $Moderate-cyan;
                color: white;
                padding: 1rem;
                &:hover {
                  background: $Dark-cyan;
                }
              }
            }
          }
          &::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 67%;
            border: 1px solid #ddd;
            @media (min-width: 64rem) {
              top: 57%;
            }
          }
        }
        label {
          display: flex;
          align-items: center;
          gap: 1rem;
          color: black;
          font-weight: 700;
          font-size: 0.9rem;
          @media (min-width: 64rem) {
            &:hover {
              color: $Dark-cyan;
            }
          }
          > div {
            display: grid;
            gap: 0.5rem;
            @media (min-width: 64rem) {
              display: flex;
            }
            span {
              color: $Moderate-cyan;
              font-weight: 500;
            }
          }
        }
        &:first-of-type {
          gap: 2.5rem;
          @media (min-width: 64rem) {
            gap: 1.5rem;
          }
        }
        [type="radio"] {
          width: 1.5rem;
          height: 1.5rem;
          appearance: none;
          border: 1px solid #ddd;
          border-radius: 50%;
          transition: 0.3s ease;
          &:checked {
            outline: 1px solid #ddd;
            border: 5px solid white;
            background: $Moderate-cyan;
            accent-color: $Moderate-cyan;
          }
        }
        h2 {
          margin-top: -0.5rem;
          color: $Black;
          @media (min-width: 64rem) {
            margin-top: unset;
            position: absolute;
            right: 2rem;
            top: 1.5rem;
          }
          span {
            color: $Dark-gray;
            font-size: 1rem;
            margin-left: 0.5rem;
          }
        }
        &.OFS {
          position: relative;
          ::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba($color: white, $alpha: 0.1);
          }
        }
      }
    }
  }
  .thank-you {
    place-items: center;
    @media (min-width: 64rem) {
      margin-inline: 28rem;
    }
    img {
      width: 4rem;
      height: 4rem;
    }
    h2 {
      font-size: 1.2rem;
      margin-top: -0.5rem;
    }
    p {
      text-align: center;
      color: $Dark-gray;
      font-size: 0.88rem;
    }
    button {
      padding: 1rem;
      outline: none;
      border: none;
      border-radius: 100vw;
      width: 6.5rem;
      background: $Moderate-cyan;
      color: white;
      font-weight: 700;
    }
  }
  main {
    .hero__banner {
      height: 19rem;
      width: 100%;
      background: url(./images/image-hero-mobile.jpg) no-repeat;
      background-size: cover;
      @media (min-width: 64rem) {
        background: url(./images/image-hero-desktop.jpg) no-repeat;
        background-size: cover;
        height: 25rem;
      }
    }
    .main__content {
      padding: 0 1.5rem;
      margin-top: -3.5rem;
      position: relative;
      @media (min-width: 64rem) {
        padding: 0 23rem;
        margin-top: -5.75rem;
      }
      .main__content-logo {
        height: fit-content;
        width: fit-content;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        img {
          width: 3.5rem;
          height: 3.5rem;
          @media (min-width: 64rem) {
            width: 3.75rem;
            height: 3.75rem;
          }
        }
      }
      .content__container {
        display: grid;
        gap: 1.5rem;
        margin-bottom: 1.5rem;
        .top__section {
          @include sec__common_styles;
          .tp-section__text {
            text-align: center;
            display: grid;
            gap: 1.5rem;
            h2 {
              margin: 0 auto;
            }
            p {
              color: $Dark-gray;
              font-size: 0.89rem;
            }
          }
          .btns__container {
            @include flex__JSB;
            gap: 0.5rem;
            .backproject__btn {
              border-radius: 100vw;
              outline: none;
              border: none;
              padding: 1rem;
              flex: 1;
              background: $Moderate-cyan;
              color: white;
              font-weight: 700;
              &:hover {
                background: $Dark-cyan;
              }
              @media (min-width: 64rem) {
                flex: unset;
                width: 12.5rem;
              }
            }
            .bookmark__container {
              @media (min-width: 64rem) {
                display: flex;
                gap: 1rem;
              }
              a {
                @media (min-width: 64rem) {
                  display: flex;
                }
              }
              .bookmark__img {
                width: 3.5rem;
                height: 3.5rem;
                background: url(./images/icon-bookmark.svg) no-repeat;
                background-size: cover;
                @media (min-width: 64rem) {
                  z-index: 2;
                  transform: translateX(3.2rem);
                }
                &.bookmarked {
                  background: url(./images/icon-bookmarked.svg) no-repeat;
                }
              }
              .button {
                display: none;
                @media (min-width: 64rem) {
                  display: inline-block;
                  color: $Dark-gray;
                  font-weight: 700;
                  background: rgba($color: $Dark-gray, $alpha: 0.1);
                  border-radius: 100vw;
                  padding: 1rem;
                  z-index: 1;
                  padding-left: 4rem;
                }
              }
            }
          }
        }
        .middle__section {
          @include sec__common_styles;
          place-items: center;
          .md-section__text {
            display: grid;
            gap: 2rem;
            @media (min-width: 64rem) {
              grid-template-columns: repeat(3, 1fr);
              gap: unset;
            }
            > div {
              @include flex__column;
              align-items: center;
              gap: 0.5rem;
              padding-bottom: 1.5rem;
              border-bottom: 1px solid transparent;
              border-image: linear-gradient(
                to right,
                transparent 20%,
                #ddd 20% 80%,
                transparent 80%
              );
              border-image-slice: 1;
              font-weight: 700;
              font-size: 2rem;
              @media (min-width: 64rem) {
                border-bottom: unset;
                padding-bottom: unset;
                padding-right: 1.5rem;
                border-right: 1px solid transparent;
                border-image: linear-gradient(
                  to bottom,
                  transparent 20%,
                  #ddd 20% 80%,
                  transparent 80%
                );
                border-image-slice: 1;
              }
              &:last-of-type {
                padding-bottom: unset;
                border-bottom: none;
                @media (min-width: 64rem) {
                  padding-right: unset;
                  border-right: unset;
                }
              }
              span {
                font-weight: 400;
                font-size: 1rem;
                color: $Dark-gray;
              }
            }
          }
          progress {
            width: 100%;
            height: 0.6rem;
            -webkit-appearance: none;
            accent-color: $Moderate-cyan;
            &::-webkit-progress-bar {
              background-color: #ddd;
              border-radius: 100vw;
            }
            &::-moz-progress-bar {
              background-color: #ddd;
              border-radius: 100vw;
            }
            &::-webkit-progress-value {
              background-color: $Moderate-cyan;
              border-radius: 100vw;
            }
            &::-moz-progress-bar {
              background-color: $Moderate-cyan;
              border-radius: 100vw;
            }
          }
        }
        .bottom__section {
          @include sec__common_styles;
          padding-top: 3rem;
          gap: 2rem;
          h2 {
            font-size: 1.1rem;
          }
          .about__container {
            display: grid;
            gap: 2rem;
            p {
              color: $Dark-gray;
              font-size: 0.87rem;
            }
          }
          .reward__container {
            display: grid;
            gap: 1.5rem;
            > div {
              padding: 1.5rem;
              border-radius: 0.5rem;
              border: 1px solid #ddd;
              display: grid;
              gap: 2rem;
              .top {
                @media (min-width: 64rem) {
                  @include flex__JSB;
                }
                h2 {
                  font-size: 1rem;
                }
                p {
                  margin-top: 0.5rem;
                  color: $Moderate-cyan;
                  font-weight: 500;
                  font-size: 0.9rem;
                  @media (min-width: 64rem) {
                    margin-top: unset;
                  }
                }
              }
              .text {
                margin-bottom: 0.5rem;
                color: $Dark-gray;
                font-size: 0.87rem;
                font-weight: 400;
              }
              .bottom {
                display: grid;
                gap: 1.8rem;
                @media (min-width: 64rem) {
                  @include flex__JSB;
                }
                h2 {
                  display: flex;
                  align-items: center;
                  gap: 0.5rem;
                  font-size: 2rem;
                  span {
                    color: $Dark-gray;
                    font-size: 1rem;
                    font-weight: 400;
                  }
                }
                button {
                  width: fit-content;
                  padding: 1rem;
                  padding-inline: 2rem;
                  border-radius: 100vw;
                  outline: none;
                  border: none;
                  background: $Moderate-cyan;
                  color: white;
                  font-weight: 700;
                  &:hover {
                    background: $Dark-cyan;
                  }
                }
              }
              &.OFS {
                position: relative;
                ::before {
                  content: "";
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  background: rgba($color: white, $alpha: 0.1);
                }
                button {
                  background: $Dark-gray;
                  cursor: default;
                  &:hover {
                    background: $Dark-gray;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .attribution {
    max-width: 100%;
    font-size: 0.9rem;
    text-align: center;
    bottom: 0;
    padding: 0.1rem 0;
    z-index: -1;
    color: white;
    padding: 0.6rem 0;
    background-color: $Black;

    a {
      display: inline-block;
      margin: 0 0.3rem;
      color: $Dark-cyan;
    }
  }
}
button,
a {
  transition: 0.4s ease;
}
:is(button, a):is(:focus, :focus-visible, :focus-within):not(.attribution a) {
  outline: #aaa dotted 3px;
  outline-offset: 0.35rem;
}
